@import './styles/Variables';
@import './styles/Fonts';
@import './styles/MiscComponents';


body {
  font-family: 'DIN Pro', sans-serif;
  margin:0;
  padding:0;

}


a, a:visited, a:active, a:hover {
  text-decoration: none;
  color:inherit;
}

.display-flex {
  display:flex;
}

.container-main {
  flex-direction: column;
  height:100vh;
}

.content-container {
  flex-grow:1;
}

.container-fluid {
  padding:0;
  margin:0;
}

.row {
  margin:0;
}

.override-margin {
  margin-left:0!important;
  margin-right:0!important;
}
.override-padding {
  padding-left:0!important;
  padding-right:0!important;
}

.col-xs-12 {
  padding-left:0!important;
  padding-right:0!important;
}

th.description {
    width: 214px;
}
.container {
    overflow: auto;
    width: auto;
    margin: auto;
    padding: 0;
}
.package {
    /*
    &:nth-child(4n) {
        clear:left;
    }
    */
    padding: 5px 10px;
    width: 266px;
    float: left;

    ul, li {
        padding: 0;
        margin: 0;
    }
    li {
        padding-bottom: 10px;
        list-style: none;
        font-size: 12px;
    }
}
.warranty {
    float: left;
    margin: 5px;
}