

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro-Bold.woff') format('woff');
  font-weight:bolder;
}

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro-BoldItalic.woff') format('woff');
  font-weight:bolder;
  font-style:italic;
}

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro-Medium.woff') format('woff');
  font-weight:bold

}

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro-MediumItalic.woff') format('woff');
  font-style:italic;
  font-weight:bold

}

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro.woff') format('woff');
  font-weight:normal;

}

@font-face {
  font-family: 'DIN Pro';
  src:  url('/fonts/DINWebPro-Italic.woff') format('woff');
  font-weight:normal;
  font-style:italic;
}