/*
 Brand Colors
*/

$PMS_295_C:#002856;//Dark Blue
$PMS_288_C:#002D73;//Less Dark Blue
$PMS_2935_C:#0055B8;//Blue
$PMS_3005_C:#0075C9;//Lighter Blue
$PMS_801_C:#0075C9;//Baby Blue
$PMS_2985_C:#57C1E8;//Turquoise
$PMS_2975_C:#98D5E9;//Sky Blue
$PMS_430_C:#7D868C;//Gray
$WHITE:#FFFFFF;//White... duh